.game-area {
    width: auto;
    height: auto;
    margin-top: 5%;
    margin-left: 7%;
    padding: 5%;
    display: none;
    background-color: rgb(226, 216, 216);
}

.question,
.dashboard {
    width: auto;
    height: 7%;
    margin-top: 3%;
}

#text-area {
    width: 30%;
    height: 7%;
    margin-top: 5%;
}

.score,
.time,
.correctQuestions {
    width: auto;
    height: auto;
    margin: 3% 2%;
    float: left;
}

body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none
}

.playAgain,
#start-game {
    display: none;
}

body {
    background-color: rgb(241, 239, 236);
    color: rgb(43, 47, 109);
    font-size: 20px;
}

.main {
    width: 70%;
    height: 70%;
    margin: 5%;
}

button,
input,
textarea {
    padding: 1%;
    width: auto;
    background-color: #fff;
    border: none;
    margin-top: 5%;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

textarea {
    width: 110%;
}